*{margin: 0;
  padding: 0;
}

body{
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("/src/assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
color: white;
font-family:"Poppins";
}

